body {
  background: linear-gradient(
    135deg,
    #f8fafc,
    #e2e8f0
  );
}

.main-title {
  font-weight: 700;
  color: #1e293b;
}

.task-card {
  transition: 0.3s;
}

.task-card:hover {
  transform: translateY(-5px);
}

.pending {
  background-color: #ffc107;
}

.progress {
  background-color: #0d6efd;
}

.completed {
  background-color: #198754;
}

.dashboard-title {
  color: #1e293b;
  margin-bottom: 25px;
}